.wrapper {
  margin: 5% auto;
  width: 350px;
  height: 580px;
  padding: 10px;
  border-radius: 10px;
  background-color: #d3d2d2;
  /* background-image: linear-gradient(315deg, #485461 0%, #28313b 74%); */
}
.screen-area {
  font-size: 35px;
  height: 100px;
  width: 95%;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}
.button-area {
  width: 95%;
  /* height: calc(100% - 110px); */
  height: 75%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
  margin: auto;
}